body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {margin: 1rem;}
.form-group {margin-bottom: .5rem; width: 164px;}
.form-group:nth-child(2) {border-bottom: 1px solid #999; padding-bottom: .5rem;}
.form-group input {width: 50px; font-size: 1rem;}
label {width: 100px; display: inline-block; margin-right: .5rem;}